
@model Blog.Models.MainVM


    
<h1>@Model.Post.Title</h1>
<p>@Model.Post.Content</p>

@*<img src="data:image;base64,@Convert.ToBase64String(@Model.ImagePreview!)" alt="Post Image">*@

@foreach (var imageBytes in Model.ImagePreview!)
{
    var base64String = Convert.ToBase64String(imageBytes);
    var imgSrc = $"data:image;base64,{base64String}";

    <img src="@imgSrc" alt="Post Image" />
}