@model Blog.Models.MainVM

<div class="myBlogSpaceMain">

    <div class="myBlogSpaceBox">

        <h1>My Blog Space</h1>

        <div class="myBlogCreatePostFormBox">

            <form id="createPostForm" method="post" enctype="multipart/form-data" asp-action="CreatePost">

                <input type="text" name="Title" placeholder="Title" />

                <select multiple multiselect-search="true" multiselect-select-all="true"
                        multiselect-max-items="8"
                        multiselect-hide-x="false" id="sel1" name="Category">
                    <option>Technology</option>
                    <option>Health and Fitness</option>
                    <option>Travel and Adventure</option>
                    <option>Fashion and Style</option>
                    <option>Food and Cooking</option>
                    <option>Personal Development</option>
                    <option>Business and Finance</option>
                    <option>Home and Interior Design</option>
                    <option>Sports and Fitness</option>
                    <option>Entertainment and Pop Culture</option>
                    <option>Science and Technology</option>
                    <option>Parenting and Family</option>
                    <option>Self-Care and Wellness</option>
                    <option>DIY and Crafts</option>
                    <option>Books and Literature</option>
                    <option>Photography and Visual Arts</option>
                    <option>Social Media and Digital Marketing</option>
                    <option>Education and Learning</option>
                    <option>Environment and Sustainability</option>
                    <option>Beauty and Skincare</option>
                </select>

                <input type="text" name="Content" placeholder="Content" />

                <label name="PostImageFile">
                    <input multiple type="file" name="PostImageFile"><br />
                </label>

                <button type="submit">Sent</button>
            </form>

        </div>

        <h1>My Posts</h1>

        <div id="myBlogUserPostUploaded"></div>

        <div class="myBlogUserPostsSaved">
            @foreach (var displayPost in Model.DisplayUserContent)
            {
                var userPost = displayPost.UserPost;
                var postImages = displayPost.PostImages;

                <div class="myBlogUserPostContainer">
                    @foreach (var postImage in postImages!)
                    {
                        var base64String = Convert.ToBase64String(postImage.ImageFile!);
                        var imgSrc = $"data:image;base64,{base64String}";

                        <img src="@imgSrc" alt="@postImage.Description Image" />
                    }
                    <div class="myBlogUserPostContent">
                        <h2>@userPost!.Title</h2>
                        <p>@userPost.Content</p>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
