@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacyPolicyText">
    <div class="w-50 ms-5 mb-5 pt-5">
        <h1>@ViewData["Title"]</h1>

        <p>Welcome to this demo blog page! Experience the potential of .NET as you explore this interactive showcase of a blog website. Please note that it is not a fully functional application but a demonstration of .NET's capabilities in web development.</p>

        <p>Here, you can discover the features and possibilities of building dynamic websites using .NET technology. While not a real-life blog application, it exemplifies how a blog website can be designed and developed.</p>

        <p>The account system is based on the ASP.NET template, enabling user registration, login, and interaction with blog content. It provides a basic framework for user authentication and authorization, ready to be customized to meet specific requirements.</p>

        <p style="margin-bottom: 2rem;">Remember, this blog page is for demo purposes only, and any content or interactions here are not representative of a live blog platform. Enjoy exploring this demo and unlock the potential of .NET for creating engaging web applications!</p>

        <a class="btn btn-primary bg-gradient" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>