@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacyPolicyText">

    <div class="privacyPolicyTextBox">
            <h1>@ViewData["Title"]</h1>

            <p>Welcome to this demo blog page! Please note that this project is a demonstration of a blog website written in .NET. It is not a fully functional application, but rather a showcase of the capabilities and features that can be implemented using .NET technology.</p>

            <p>The purpose of this blog page is to provide you with an interactive experience and give you a glimpse into the possibilities of building a dynamic website using .NET. While it may not have all the functionalities of a real-life blog application, it serves as an example of how a blog website can be designed and developed.</p>

            <p>The account system utilized in this demo is based on the ASP.NET template, which allows users to create accounts, log in, and interact with the blog content. It provides a basic framework for user authentication and authorization, which can be further enhanced and customized according to specific requirements.</p>

            <p style="margin-bottom: 2rem;">Please keep in mind that this blog page is purely for demonstration purposes, and any content or interactions you experience here are not representative of a live blog platform. I hope you enjoy exploring this demo and gain insights into the potential of .NET for creating engaging web applications.</p>

            <a class="buttonCustom1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    </div>

    

</div>