@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="accountBackground">
    <div class="row  mx-xl-5 mx-2">

    

        <h1 class="mt-4">@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>

        <div class="col-lg-5">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control mb-1" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
