*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(255, 0, 0);
    --white: rgb(247 247 247);
    --dark: rgb(40, 40, 40);
    --textFontLarge: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* ------------------- NAVIGATION ------------------- */

nav {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--textFontLarge);
    height: 60px;
}

nav li {
    list-style: none;
}

.homeLogoLi {
    margin-top: 1rem;
    margin-left: 15%;
}

.homeLogo {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    color: var(--red);
    font-size: 35px;
    border: solid 2px var(--red);
    padding: .3rem;
    border-radius: 5px;
    font-weight: 800;
}

.loginRegisterUl {
    display: flex;
    position: absolute;
    right: 10%;
    top: 10px;
}

.loginRegisterUl li {
    display: flex;
}

.loginRegisterUl a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark);
    margin: .7rem;
}

.navLoginRegLinks {
    border: solid 1px var(--red);
    border-radius: 5px;
}

/* ------------------- BUTTONS ------------------- */
.buttonCustom1 {
    text-decoration: none;
    background: var(--red);
    padding: .8rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 5px;
    transition: .2s ease-in-out;
    border: solid 1px var(--red);
}

.buttonCustom1:hover {
    background: var(--white);
    color: var(--red);
}

.buttonLogout {
    border: solid 2px var(--red);
    font-size: var(--textFontLarge);
    background: white;
    padding: .7rem;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------- FOOTER ------------------- */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-container {
    margin: 0 auto;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.additional-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

/* ------------------- PRIVACY POLICY ------------------- */

.privacyPolicyText {
    width: 100%;
    height: 100vh;
    font-size: var(--textFontLarge);
    background-image: url("/Images/Privacy/privacy246211323.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.privacyPolicyTextBox {
    background-image: linear-gradient(to right, rgb(255 255 255), rgba(255, 255, 255, 0));
    height: 100vh;
    padding: 4rem;
}

.privacyPolicyText p, h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 40%;
}

/* ------------------- HOME ------------------- */

.homeMain {
    min-height: 80vh;
    background-image: url("/Images/Home/blog235266.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.homeTextInfo {
    width: 40%;
    font-size: var(--textFontLarge);
    padding: 4rem;
}

.homeTextInfo p {
   margin-bottom: 3rem;
}

/* ------------------- MY BLOG ------------------- */

.myBlogSpaceMain {
    padding-bottom: 300px;
}

/*.myBlogCreatePostFormBox form {
    display: flex;
    flex-direction: column;
}

.myBlogCreatePostFormBox input {

}*/

.myBlogSpaceBox {

}

#myBlogUserPostUploaded img {
    width: 600px;
}

.myBlogUserPostsSaved {
}

.myBlogUserPostContainer {
    border: 1px solid var(--dark);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background: rgb(255, 239, 229)
}

.myBlogUserPostContainer img {
    width: 600px;
}

/* ------------------- LOGIN/REGISTER ------------------- */

.accountBackground {
    min-height: 80vh;
    background-image: url("/Images/Home/blog235266.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    z-index: -1;
}

/* ------------------- RICH TEXT LIVBRARY ------------------- */

