*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(255, 0, 0);
    --white: rgb(247 247 247);
    --dark: rgb(40, 40, 40);
    --textFontLarge: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

/* ------------------- NAVIGATION ------------------- */


/* ------------------- BUTTONS ------------------- */


/* ------------------- FOOTER ------------------- */


/* ------------------- PRIVACY POLICY ------------------- */

.privacyPolicyText {
    min-height: 100vh;
    background-image: url("/Images/Privacy/privacy246211323.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ------------------- HOME ------------------- */

.homeMain {
    min-height: 100vh;
    background-image: url("/Images/Home/blog235266.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ------------------- MY BLOG ------------------- */

.myBlogSpaceMain {
    padding-bottom: 300px;
}

/*.myBlogUserPostContainer {
    border: 1px solid var(--dark);
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background: rgb(255, 239, 229);
    display: none;
}
*/
.displayPostCustomBox {
    background-color: rgb(229, 229, 229);
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
    padding: .5rem;
}

.displayPostCustomHeader {
    min-height: 42px;
}

.displayPostCustomDeletePost,
.displayPostCustomDeletePostConfirmBox {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.displayPostCustomDeletePostConfirmBox {
    display: none;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: var(--dark);
    height: 26px;
    border-radius: 25px;
    width: 80px;
    animation: slideIn .3s forwards;
    transform: translate(150px);
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.hideDeleteButton {
    animation: hide .2s forwards;
}

@keyframes hide {

    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
        pointer-events: none;
        width: 0;
    }
}

.showDeleteButton {
    opacity: 0;
    animation: show .2s forwards;
}

@keyframes show {

    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.removePostBox {
    animation: removePost .2s forwards;
}

@keyframes removePost {

    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(1000px);
    }
}

.removePostBoxadjustHeight {
    animation: adjustHeight 1s forwards;
}

@keyframes adjustHeight {

    20% {
        height: auto;
    }

    100% {
        height: 0;
    }
}

/* Override default Bootstrap link color */
.pagination a.page-link {
    color: grey;
}

/* Override the active link color */
.pagination .page-item.active .page-link {
    background-color: gray;
    border-color: grey;
}

/* ------------------- LOGIN/REGISTER ------------------- */

.accountBackground {
    min-height: 100vh;
    background-image: url("/Images/Home/blog235266.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ------------------- RICH TEXT LIVBRARY ------------------- */

#fr-logo {
    display: none;
}

/* ------------------- SELECT2 ------------------- */

.select2-selection {
    padding: .4rem;
    border: 1px solid #ced4da !important;
}

.select2-selection textarea {
    margin-top: 0px !important;
    transform: translateY(-5px);
}

.select2-selection li {
    margin-top: 0px !important;
}